.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  transition: color 0.3s ease;
}
