@keyframes moveUp {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.mainBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-secondary);
  transition: background-color 0.3s ease;
  overflow: hidden;

  .triangle {
    width: 45vw;
    height: 75vh;
    background-size: 15vw;
    background-position: center bottom;
    animation: moveUp 120s linear infinite;
  }
}
