@import '@/styles/variables';

.button {
  padding: 15px 25px;
  font-size: 1rem;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--color-primary);
  transition: outline-color 0.3s ease;
  gap: 25px;


  &.filled {
    background-color: var(--color-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--color-secondary);
    border: none;
  }

  &.outlined {
    background-color: transparent;
    color: var(--color-primary);
    transition: color 0.3s ease, outline-color 0.3s ease;
    outline: 2px solid var(--color-primary);
  }
}