@import '../../node_modules/scss-reset/reset.css';
@import './variables';

html, body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}


:root {
  --color-primary: #050505;
  --color-secondary: #DCDCDC;
  --logo: url('/img/logo-light.svg'); // Удалите 'public' из пути
}

[data-theme='dark'] {
  --color-primary: #DCDCDC;
  --color-secondary: #050505;
  --logo: url('/img/logo.svg'); // Удалите 'public' из пути
}
