@import '@/styles/container';

.container {


  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    padding: 0 20px;


    .logo {
      width: 63px;
      height: 75px;
      background-image: var(--logo);
      background-size: cover;
      background-position: center;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      .line1, .line3 {
        width: 30px;
        height: 3px;
        background-color: var(--color-primary);
        transition: background-color 0.3s ease;
        margin: 5px 0;
      }

      .line2 {
        margin: 5px auto;
        width: 15px;
        height: 3px;
        background-color: var(--color-primary);
        transition: background-color 0.3s ease;
      }
    }
  }

}