@import '@/styles/variables';

.wrapper {
  position: relative;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--color-secondary);
  transition: color 0.3s ease, background-color 0.3s ease;
  color: var(--color-primary);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  z-index: 1100;

  .nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    ul {
      font-family: $font-family;
      font-weight: $font-weight-regular;
      letter-spacing: 0.05em;
      font-size: 1rem;
      list-style: none;
      padding: 0;

      li {
        margin: 25px 0;
        position: relative;
        overflow: hidden;

        a {
          color: var(--color-primary);
          text-decoration: none;
          display: inline-block;
          padding: 5px 0;
          transition: transform 0.3s ease-out, color 0.3s ease;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 3px;
            background-color: var(--color-primary);
            transition: left 0.3s ease-out, color 0.3s ease;
          }

          &:hover {

            &:after {
              left: 0;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }

  button {
    transition: transform 0.1s ease-out;

    &:hover {
      transform: scale(1.1);
      animation: shake 0.5s ease infinite;
    }
  }
}

@keyframes shake {
  0% { rotate: 0deg }
  25% { rotate: 2deg }
  50% { rotate: -2deg }
  75% { rotate: 2deg }
  100% { rotate: 0deg }
}
